fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
python-dotenv
httpx
beautifulsoup4
taskipy
psycopg2-binary
pyjwt
bcrypt
cloudinary
python-docx
email-validator
python-multipart
langchain
langchain-groq
slowapi